{% extends 'courses/base.html' %}
{% load custom_tags %}
{%block title%}
Signup
{% endblock %}

{%block content%}

<div class="container">
    <br>

   
    <br>
    <div class="row ">
        <div class="col mr-auto ">
            <div class="card ml-auto" style="width: 18rem;">
                <img class="card-img-top" src="{{course.thumbnail.url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{course.name}}</h5>
                    <p class="card-text m-0 p-0">

                    {%if coupon%}
                        Save {{coupon.discount}}%
                        <br>
                        <span class="price">
                            <del>{{course.price|rupee}}</del>
                            &nbsp;

                            <span>{% cal_sellprice course.price coupon.discount as value %} {{value|rupee}}</span>

                            
                        </span>
                    {%else%}
                        Save {{course.discount}}%
                        <br>
                        <span class="price">
                            <del>{{course.price|rupee}}</del>
                            &nbsp;

                            <span>{% cal_sellprice course.price course.discount as value %} {{value|rupee}}</span>

                            
                        </span>
                    {%endif%}

                    </p>
                </div>

            </div>
        </div>



        <div class="col ">
            <div>
                <p class="display-5">{{course.name}}</p>
                <hr>
                {%if coupon%}
                    <p class="display-5">Payable Amount : <b>{% cal_sellprice course.price coupon.discount as value %}{{value|rupee}}</b></p>
                        <div>
                            <a class="btn btn-light border" href="?action=create_payment&couponcode={{coupon.code}}">Continue to Payment</a>
                        </div>
                {%else%}
                        <p class="display-5">Payable Amount : <b>{% cal_sellprice course.price course.discount as value %}{{value|rupee}}</b></p>
                            <div>
                            <a class="btn btn-light border" href="?action=create_payment">Continue to Payment</a>
                        </div>
                {%endif%}
                        
                <br>
                    <div class="border p-5 rounded border-primary">
                        {%if error %}
                                <div class="alert alert-info">
                                    {{error}}
                                </div>
                        {%else%}
                                 <p class="alert alert-light border-success">Coupon Code Applied ! You have got {{coupon.discount}} % discount </p>
                        {%endif%}
                        <p> Have a Coupon Code ? </p>
                        <form action="" method="get">
                                <div class="col-lg-5 form-group">
                                    <input type="text" name="couponcode" class="form-control" placeholder="Enter Coupon Code" id="">
                                </div>
                                 <div class ="form-group">
                                    <input type="submit" value = "Apply" name="" class="btn btn-primary" id="">
                                </div> 
                        </form>
                    </div>
                    <br>
                
            </div>
            
        </div>
    </div>
</div>


{% if order is not None %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<script>

    var options = {
        "key": "rzp_test_zQ5a30E9d0DAnT", // Enter the Key ID generated from the Dashboard
        "name": "Shrey Shukla",
        "description": "Payment For {{course.name}}",
        "image": "https://png.pngtree.com/element_pic/00/16/07/115783931601b5c.jpg",
        "order_id": "{{order.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "callback_url": "http://localhost:8000/verify_payment",
        "prefill": {
            "name": "{{user.first_name}}",
            "email": "{{user.email}}",
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);

    rzp1.open();

</script>
{% endif %}

{% if error is not None %}

<script>

    window.onload = ()=>{
        alert("{{error}}")
    }

</script>

{% endif %}
{%endblock%}